<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="SAMPLING_RATE" value="10"/>
    <property name="LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m %clr(%mdc){magenta}%n%wEx"/>

    <springProfile name="!default">
        <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
        <conversionRule conversionWord="wex"
                        converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
        <conversionRule conversionWord="wEx"
                        converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

        <appender name="stdout_sampled" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${LOG_PATTERN}</Pattern>
            </layout>
            <filter class="it.gov.pagopa.debtposition.config.SamplingFilter">
                <rate>${SAMPLING_RATE}</rate>
                <maxBurst>50</maxBurst>
            </filter>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>DENY</onMatch>
                <onMismatch>NEUTRAL</onMismatch>
            </filter>
        </appender>

        <appender name="stderr_errors" class="ch.qos.logback.core.ConsoleAppender">
            <target>System.ERR</target>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${LOG_PATTERN}</Pattern>
            </layout>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <root level="INFO">
            <appender-ref ref="stdout_sampled"/>
            <appender-ref ref="stderr_errors"/>
        </root>
    </springProfile>

    <springProfile name="default">
        <springProperty name="ECS_SERVICE_VERSION" source="info.application.version"/>

        <appender name="ECS_JSON_SAMPLED" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="co.elastic.logging.logback.EcsEncoder">
                <serviceName>${SERVICE_NAME}</serviceName>
                <serviceVersion>${ECS_SERVICE_VERSION}</serviceVersion>
                <serviceEnvironment>${ENV}</serviceEnvironment>
            </encoder>
            <filter class="it.gov.pagopa.debtposition.config.SamplingFilter">
                <rate>${SAMPLING_RATE}</rate>
                <maxBurst>50</maxBurst>
            </filter>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>DENY</onMatch>
                <onMismatch>NEUTRAL</onMismatch>
            </filter>
        </appender>

        <appender name="ECS_JSON_ERRORS" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="co.elastic.logging.logback.EcsEncoder">
                <serviceName>${SERVICE_NAME}</serviceName>
                <serviceVersion>${ECS_SERVICE_VERSION}</serviceVersion>
                <serviceEnvironment>${ENV}</serviceEnvironment>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <root level="INFO">
            <appender-ref ref="ECS_JSON_SAMPLED"/>
            <appender-ref ref="ECS_JSON_ERRORS"/>
        </root>
    </springProfile>

</configuration>
