{
    "IsEncrypted": false,
    "Values": {
      "FUNCTIONS_WORKER_RUNTIME": "java",
      "AzureWebJobsStorage": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;",
      "FLOW_SA_CONNECTION_STRING": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;",
      "FLOWS_TABLE": "flows",
      "ORGANIZATIONS_TABLE": "organizations",
      "FLOWS_QUEUE": "flowsid",
      "ORGANIZATIONS_QUEUE": "organizationsid",
      "GPD_HOST": "http://localhost:8085",
      "NODO_HOST": "http://localhost:8081/nodo-per-pa/v1",
      "PAA_ID_INTERMEDIARIO":"PAA_ID_INTERMEDIARIO",
      "PAA_STAZIONE_INT":"PAA_STAZIONE_INT",
      "PAA_PASSWORD":"PAA_PASSWORD",
      "MAX_RETRY_QUEUING": 5,
      "QUEUE_RETENTION_SEC": 86400,
      "QUEUE_DELAY_SEC": 3600
    }
  }
