parameters:
  - name: SEMVER
    displayName: "When packing a release, define the version bump to apply"
    type: string
    values:
      - major
      - minor
      - patch
      - buildNumber
      - skip
    default: patch
  - name: ENV
    displayName: Target Environment
    type: string
    default: dev
    values:
      - dev
      - uat
      - prod
  - name: TEST
    displayName: Run tests
    type: boolean
    default: false
  - name: REPOSITORY
    displayName: "Repository"
    type: string
    values:
      - gpd
      - payments
      - reporting-analysis
      - reporting-batch
      - reporting-service
    default: gpd

variables:
  ${{ if eq(parameters['ENV'], 'dev') }}:
    AZURE_SUBSCRIPTION: $(DEV_AZURE_SUBSCRIPTION)
    CONTAINER_REGISTRY: $(DEV_CONTAINER_REGISTRY)
    CONTAINER_NAMESPACE: $(DEV_CONTAINER_NAMESPACE)
    APP_NAME: $(DEV_WEB_APP_NAME)
    RESOURCE_GROUP: 'pagopa-d-gpd-rg'
  ${{ if eq(parameters['ENV'], 'uat') }}:
    AZURE_SUBSCRIPTION: $(DEV_AZURE_SUBSCRIPTION)
    CONTAINER_REGISTRY: $(DEV_CONTAINER_REGISTRY)
    CONTAINER_NAMESPACE: $(UAT_CONTAINER_NAMESPACE)
    APP_NAME: $(UAT_WEB_APP_NAME)
    RESOURCE_GROUP: 'pagopa-u-gpd-rg'
  ${{ if eq(parameters['ENV'], 'prod') }}:
    AZURE_SUBSCRIPTION: $(PROD_AZURE_SUBSCRIPTION)
    CONTAINER_REGISTRY: $(PROD_CONTAINER_REGISTRY)
    CONTAINER_NAMESPACE: $(PROD_CONTAINER_NAMESPACE)
    APP_NAME: $(PROD_WEB_APP_NAME)
    RESOURCE_GROUP: 'pagopa-p-gpd-rg'

  MAVEN_CACHE_FOLDER: $(Pipeline.Workspace)/.m2/repository
  MAVEN_OPTS: "-Dmaven.repo.local=$(MAVEN_CACHE_FOLDER)"
  title: ""
  sha: ""
  tag: ""

# Only manual triggers
trigger: none
pr: none

pool:
  vmImage: ubuntu-latest

stages:
  # Create a release
  - stage: release_service
    # bump version on main branch and if SEMVER is not 'skip'
    condition: and(eq(variables['Build.SourceBranch'], 'refs/heads/main'), ne('${{ parameters.SEMVER }}', 'skip'))
    pool:
      vmImage: "ubuntu-latest"
    jobs:
      - job: releaseService
        steps:
          - checkout: self
            clean: true
            persistCredentials: true

          - script: |
              git config --global user.name "$(GIT_USERNAME)"
              git config --global user.email "$(GIT_EMAIL)"
            displayName: Set Git global config

          - template: azure-templates/maven-versioning.yml
            parameters:
              subproject: "${{ parameters.REPOSITORY }}"
              semver: "${{ parameters.SEMVER }}"

          - task: Bash@3
            name: pomversion
            inputs:
              targetType: "inline"
              script: |
                version=$(mvn -f ${{ parameters.REPOSITORY }}/pom.xml help:evaluate -Dexpression=project.version -q -DforceStdout)
                echo "##vso[task.setvariable variable=next;isOutput=true]$version"
                sh report/bumper.sh ${{ parameters.REPOSITORY }} $version
              failOnStderr: true

          - script: |
              echo "Checkout on ${{variables['Build.SourceBranchName']}}"
              git checkout ${{variables['Build.SourceBranchName']}}
            displayName: Checkout on source branch

          # bump version
          - script: |
              git add ${{ parameters.REPOSITORY }}/pom.xml
              git add report/pom.xml
              git commit -m "Bump version [skip ci]"
              git push origin ${{variables['Build.SourceBranchName']}}
              git push --tags

          - script: |
              HEAD_SHA=$(git rev-parse HEAD)
              TAG="${{ parameters.REPOSITORY }}/$(pomversion.next)"
              TITLE="Release ${{ parameters.REPOSITORY }}/$(pomversion.next)"
              echo "##vso[task.setvariable variable=title]$TITLE"
              echo "##vso[task.setvariable variable=sha]$HEAD_SHA"
              echo "##vso[task.setvariable variable=tag]$TAG"
            displayName: Setting vars

          - script: |
              echo $(tag)
              echo $(title)
              echo $(sha)
            displayName: Debug step

          # create new release
          - task: GitHubRelease@0
            inputs:
              gitHubConnection: $(GITHUB_CONNECTION)
              repositoryName: $(Build.Repository.Name)
              action: create
              target: $(sha)
              tagSource: manual
              tag: $(tag)
              title: $(title)
              addChangelog: true

  # Deploy on Azure
  - stage: deploy
    condition: not(failed('releaseService'))
    pool:
      vmImage: "ubuntu-latest"
    jobs:
      - job: deployJava
        steps:
          - checkout: self
            clean: true
            persistCredentials: true
            submodules: true

          - task: Cache@2
            inputs:
              key: 'maven | "$(Agent.OS)" | pom.xml'
              restoreKeys: |
                maven | "$(Agent.OS)"
                maven
              path: $(MAVEN_CACHE_FOLDER)
            displayName: Set Maven Cache

          - task: Bash@3
            name: pomversion
            inputs:
              targetType: "inline"
              script: |
                version=$(mvn -f ${{ parameters.REPOSITORY }}/pom.xml help:evaluate -Dexpression=project.version -q -DforceStdout)
                echo "##vso[task.setvariable variable=next;isOutput=true]$version"
              failOnStderr: true

          - task: Bash@3
            # When the maven task is installed, mvn can be used in a script
            name: mvn_get_version
            inputs:
              targetType: "inline"
              script: |
                mvn -f ${{ parameters.REPOSITORY }}/pom.xml help:evaluate -Dexpression=project.version -q -DforceStdout
              failOnStderr: true

#          - task: Maven@3
#            displayName: Build Module [DEV]
#            condition: eq('${{ parameters.ENV }}', 'dev')
#            inputs:
#              mavenPomFile: "${{ parameters.REPOSITORY }}/pom.xml"
#              mavenOptions: "-Xmx3072m $(MAVEN_OPTS)"
#              mavenVersionOption: 'Default'
#              javaHomeOption: "JDKVersion"
#              jdkVersionOption: "1.11"
#              jdkArchitectureOption: "x64"
#              testResultsFiles: "**/surefire-reports/TEST-*.xml"
#              publishJUnitResults: true
#              effectivePomSkip: false
#              sonarQubeRunAnalysis: false
#              goals: "install"
#
#          - task: Maven@3
#            displayName: Build All [UAT|PROD]
#            condition: in('${{ parameters.ENV }}', 'uat', 'prod')
#            inputs:
#              mavenPomFile: "./pom.xml"
#              mavenOptions: "-Xmx3072m $(MAVEN_OPTS)"
#              mavenVersionOption: 'Default'
#              javaHomeOption: "JDKVersion"
#              jdkVersionOption: "1.11"
#              jdkArchitectureOption: "x64"
#              testResultsFiles: "**/surefire-reports/TEST-*.xml"
#              publishJUnitResults: true
#              effectivePomSkip: false
#              sonarQubeRunAnalysis: false
#              goals: "install"
#
#          - task: Docker@2
#            displayName: Build and push image to container registry
#            inputs:
#              command: 'buildAndPush'
#              containerRegistry: '$(CONTAINER_REGISTRY)'
#              repository: '${{ parameters.REPOSITORY }}'
#              buildContext: './${{ parameters.REPOSITORY }}'
#              Dockerfile: './${{ parameters.REPOSITORY }}/Dockerfile.deploy'
#              tags: |
#                $(Build.BuildId)
#                latest
#                $(pomversion.next)
#
#          - task: AzureRMWebAppDeployment@4
#            displayName: "Deployment App Service [DEV|UAT]"
#            condition: and(in('${{ parameters.REPOSITORY }}', 'gpd', 'payments'), in('${{ parameters.ENV }}', 'dev', 'uat'))
#            inputs:
#              appType: webAppContainer
#              ConnectedServiceName: $(AZURE_SUBSCRIPTION)
#              WebAppName: "${{variables.APP_NAME}}-app-${{ parameters.REPOSITORY }}"
#              DockerNamespace: "${{variables.CONTAINER_NAMESPACE}}"
#              DockerRepository: "${{ parameters.REPOSITORY }}"
#              DockerImageTag: "$(Build.BuildId)"
#
#          # deploy staging gpd | payments - stage
#          - task: AzureRMWebAppDeployment@4
#            displayName: "Deployment Staging App Service [PROD]"
#            condition: and(in('${{ parameters.REPOSITORY }}', 'gpd', 'payments'), eq('${{ parameters.ENV }}', 'prod'))
#            inputs:
#              appType: webAppContainer
#              ConnectedServiceName: $(AZURE_SUBSCRIPTION)
#              WebAppName: "${{variables.APP_NAME}}-app-${{ parameters.REPOSITORY }}"
#              DockerNamespace: "${{variables.CONTAINER_NAMESPACE}}"
#              DockerRepository: "${{ parameters.REPOSITORY }}"
#              DockerImageTag: "$(Build.BuildId)"
#              deployToSlotOrASE: true
#              slotName: staging
#              resourceGroupName: $(RESOURCE_GROUP)
#
#          # deploy reporting-fn
#          - task: AzureFunctionAppContainer@1
#            displayName: Deploy Function App [DEV|UAT]
#            condition: and(in('${{ parameters.REPOSITORY }}', 'reporting-analysis', 'reporting-batch', 'reporting-service'), in('${{ parameters.ENV }}', 'uat'))
#            inputs:
#              azureSubscription: $(AZURE_SUBSCRIPTION)
#              appName: "${{variables.APP_NAME}}-fn-${{replace(parameters.REPOSITORY, 'reporting', 'gpd')}}"
#              imageName: "${{variables.CONTAINER_NAMESPACE}}/${{ parameters.REPOSITORY }}:$(Build.BuildId)"
#              slotName: production
#          - task: AzureFunctionAppContainer@1
#            displayName: Deploy Function App [PROD]
#            condition: and(in('${{ parameters.REPOSITORY }}', 'reporting-analysis', 'reporting-batch', 'reporting-service'), eq('${{ parameters.ENV }}', 'dev'))
#            inputs:
#              azureSubscription: $(AZURE_SUBSCRIPTION)
#              appName: "${{variables.APP_NAME}}-fn-${{replace(parameters.REPOSITORY, 'reporting', 'gpd')}}"
#              imageName: "${{variables.CONTAINER_NAMESPACE}}/${{ parameters.REPOSITORY }}:$(Build.BuildId)"
#              deployToSlotOrASE: true
#              slotName: staging
#              resourceGroupName: $(RESOURCE_GROUP)


  # Prod deploy
  - stage: deployApprovalPROD
    condition: eq('${{ parameters.ENV }}', 'dev')
    dependsOn: deploy
    pool:
      vmImage: "ubuntu-latest"
    jobs:
      - job: waitForApprovalPROD
        displayName: waiting for approval
        pool: server
        timeoutInMinutes: 4320 # 3 days
        continueOnError: false
        steps:
          - task: ManualValidation@0
            displayName: Manual Approval
            inputs:
              onTimeout: "reject"
              
      - job: completeProdDeployJava
        condition: in('${{ parameters.REPOSITORY }}', 'gpd', 'payments')
        displayName: complete prod deploy
        dependsOn: waitForApprovalPROD
        steps:
          # deploy gpd | payments - swap
          - task: AzureAppServiceManage@0
            displayName: Swapping App Service Deploy
            inputs:
              ConnectedServiceName: $(AZURE_SUBSCRIPTION)
              WebAppName: "${{variables.APP_NAME}}-app-${{ parameters.REPOSITORY }}"
              ResourceGroupName: $(RESOURCE_GROUP)
              SourceSlot: staging
              SwapWithProduction: true
              Slot: production

      - job: completeProdDeployFn
        condition: in('${{ parameters.REPOSITORY }}', 'reporting-analysis', 'reporting-batch', 'reporting-service')
        displayName: complete prod function deploy
        dependsOn: waitForApprovalPROD
        steps:
          # deploy functions - swap
          - task: AzureAppServiceManage@0
            displayName: Swapping App Service Deploy
            inputs:
              ConnectedServiceName: $(AZURE_SUBSCRIPTION)
              WebAppName: "${{variables.APP_NAME}}-fn-${{replace(parameters.REPOSITORY, 'reporting', 'gpd')}}"
              ResourceGroupName: $(RESOURCE_GROUP)
              SourceSlot: staging
              SwapWithProduction: true
              Slot: production


  # Integration/Load tests
  - stage: test
    # run stage 'test' only if TEST is equal to true
    condition: and(not(failed('deployJava')), eq('${{ parameters.TEST }}', 'true'))
    dependsOn: deploy
    pool:
      vmImage: "ubuntu-latest"
    jobs:
      # is needed to wait for startup of application
      - job: waitStartup
        pool: Server
        steps:
          - task: Delay@1
            inputs:
              delayForMinutes: '7'

      - job: integrationTests
        dependsOn: waitStartup
        steps:
          - script: |
              git checkout ${{variables['Build.SourceBranchName']}}

          - script: |
              yarn global add newman
            displayName: 'newman installation'

          - script: |
              newman run "api-test/Debt Position.postman_collection.json" --environment=api-test/azure.${{ parameters.ENV }}.postman_environment.json --reporters cli,junit --reporter-junit-export Results/debtposition-TEST.xml
            displayName: 'Run api test'
            continueOnError: true

          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/*-TEST.xml'
              searchFolder: '$(System.DefaultWorkingDirectory)'

      - job: loadTests
        dependsOn: integrationTests
        condition: eq('${{ parameters.REPOSITORY }}', 'gpd')
        steps:

          - script: |
              sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys C5AD17C747E3415A3642D57D77C6C491D6AC1D69
              echo "deb https://dl.k6.io/deb stable main" | sudo tee /etc/apt/sources.list.d/k6.list
              sudo apt-get update
              sudo apt-get install k6
            displayName: 'k6 installation'

          - script: |
              k6 run -e BASE_URL=https://api.${{ parameters.ENV }}.platform.pagopa.it/gpd/api/v1 gpd/load-test/src/create_debt_postion.js
            displayName: 'Run load test create debt position'
            continueOnError: true

          - script: |
              k6 run -e BASE_URL=https://api.${{ parameters.ENV }}.platform.pagopa.it/gpd/api/v1 gpd/load-test/src/payments_workflow.js
            displayName: 'Run load test payments workflow'
            continueOnError: true
