PAA_ID_INTERMEDIARIO=77777777777
PAA_STAZIONE_INT=77777777777_1
PAA_PASSWORD=prova123
CERT=-----BEGIN CERTIFICATE-----1234-----END CERTIFICATE-----
KEY_PKCS8=-----BEGIN PRIVATE KEY-----5678-----END PRIVATE KEY-----
FLOW_SA_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1
FLOWS_TABLE=flows
FLOWS_QUEUE=flowsid
FLOWS_XML_BLOB=blob
PAYMENTS_HOST=http://payments:8085
AUX_DIGIT=3
