microservice-chart:
  namespace: "gps"
  nameOverride: ""
  fullnameOverride: ""
  image:
    repository: ghcr.io/pagopa/pagopa-debt-position
    tag: "1.1.8-3-PIDM-896"
    pullPolicy: Always
  livenessProbe:
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 10
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 10
    periodSeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  deployment:
    create: true
    replicas: 4 # same as HPA minReplica
  service:
    create: true
    type: ClusterIP
    ports:
      - 8080
  ingress:
    create: true
    host: "weuprod.gps.internal.platform.pagopa.it"
    path: /pagopa-gpd-core/(.*)
    servicePort: 8080
  serviceAccount:
    name: "gps-workload-identity"
  azure:
    workloadIdentityClientId: <workload-identity-client-id-set-automatically-by-gha>
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "1024Mi"
      cpu: "0.75"
    limits:
      memory: "1280Mi"
      cpu: "0.80"
  autoscaling:
    enable: true
    minReplica: 4
    maxReplica: 10
    pollingInterval: 1 # seconds
    cooldownPeriod: 50 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "75"
          # - type: metrics-api
          #   metadata:
          #     targetValue: "50" # milliseconds
          #     url: "https://weuprod.gps.internal.platform.pagopa.it/pagopa-gpd-core/actuator/metrics/http.server.requests.percentile?tag=phi:0.99"
          #     valueLocation: "measurements.0.value"
    advanced:
      horizontalPodAutoscalerConfig:
        behavior:
          scaleDown:
            # https://github.com/kubernetes/enhancements/blob/master/keps/sig-autoscaling/853-configurable-hpa-scale-velocity/README.md#stabilization-window
            stabilizationWindowSeconds: 300
            policies:
              - type: Pods
                value: 1
                periodSeconds: 20
          scaleUp:
            stabilizationWindowSeconds: 0
            policies:
              - type: Pods
                value: 2
                periodSeconds: 20
  envConfig:
    WEBSITE_SITE_NAME: 'pagopa-p-gpd-core-service'
    ENV: 'prod'
    SPRING_DATASOURCE_URL: "jdbc:postgresql://gpd-db.p.internal.postgresql.pagopa.it:5432/apd?sslmode=require&prepareThreshold=0"
    SPRING_DATASOURCE_TYPE: "com.zaxxer.hikari.HikariDataSource"
    SPRING_JPA_HIBERNATE_DDL_AUTO: "validate"
    SPRING_JPA_HIBERNATE_SHOW_SQL: "false"
    SCHEMA_NAME: "apd"
    MIGRATION_READ_FROM: "READ_FROM_PAYMENT_OPTION"
    CRON_JOB_SCHEDULE_ENABLED: "true"
    CRON_JOB_SCHEDULE_EXPRESSION_TO_VALID: "0 0 11,21 * * *" # 11, 21 (UTC+00) o'clock of every day.
    CRON_JOB_SCHEDULE_EXPRESSION_TO_EXPIRED: "0 30 11,21 * * *" # 11:30, 21:30 (UTC+00) o'clock of every day.
    CRON_JOB_SCHEDULE_HISTORY_ENABLED: "false"
    CRON_JOB_SCHEDULE_HISTORY_TRIGGER: "0 0 1 * * *"
    CRON_JOB_SCHEDULE_HISTORY_QUERY: "SELECT pp FROM PaymentPosition pp WHERE pp.status IN ('PAID', 'REPORTED', 'INVALID', 'EXPIRED') AND pp.lastUpdatedDate < ?1"
    CRON_JOB_SCHEDULE_HISTORY_PAGINATED: "true"
    CRON_JOB_SCHEDULE_HISTORY_QUERY_COUNT: "SELECT count(pp.id) FROM PaymentPosition pp WHERE pp.status IN ('PAID', 'REPORTED', 'INVALID', 'EXPIRED') AND pp.lastUpdatedDate < ?1"
    CRON_JOB_SCHEDULE_HISTORY_QUERY_PAGE_SIZE: "10000"
    CRON_JOB_SCHEDULE_HISTORY_QUERY_INTERVAL: "365"
    CRON_JOB_SCHEDULE_HISTORY_SHEDLOCK_DEFAULTLOCKATMOSTFOR: "5m"
    CRON_JOB_SCHEDULE_HISTORY_SHEDLOCK_LOCKATMOSTFOR: "240m"
    CRON_JOB_SCHEDULE_HISTORY_SHEDLOCK_LOCKATLEASTFOR: "5m"
    GPD_ARCHIVE_SA_PP_TABLE: "paymentpositiontable"
    GPD_ARCHIVE_BATCH_OPERATION_SIZE: "1000"
    AUX_DIGIT: "3"
    NODE_HOST: "https://api.platform.pagopa.it/"
    NODE_CHECK_POSITION_PATH: "/nodo/nodo-per-pm/v1/checkPosition"
    NODE_CONNECTION_TIMEOUT: "3000"
    SEND_HOST: "https://api.notifichedigitali.it"
    NOTIFICATION_PRICE_PATH: "/delivery/v2.3/price/{paTaxId}/{noticeCode}"
    RETRY_MAX_DELAY: "2000"
    RETRY_MAX_ATTEMPTS: "1"
    SEND_RETRY_MAX_DELAY: "1500"
    SEND_RETRY_MAX_ATTEMPTS: "2"
    LOG_LEVEL: "INFO"
    SQL_LOG_LEVEL: "ERROR"
    SQL_BINDER_LOG_LEVEL: "ERROR"
    MAX_DEBT_POSITIONS: "100"
    SERVICE_NAME: "pagopa-gpd-core"
    OTEL_SERVICE_NAME: "pagopa-gpd-core"
    OTEL_RESOURCE_ATTRIBUTES: "deployment.environment=prod"
    OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.elastic-system.svc:4317"
    OTEL_TRACES_SAMPLER: "traceidratio"
    OTEL_TRACES_SAMPLER_ARG: "0.5"
    OTEL_TRACES_EXPORTER: otlp
    OTEL_METRICS_EXPORTER: otlp
    OTEL_LOGS_EXPORTER: none
  envSecret:
    # required
    APPLICATIONINSIGHTS_CONNECTION_STRING: 'ai-p-connection-string'
    SPRING_DATASOURCE_PASSWORD: "db-apd-user-password"
    SPRING_DATASOURCE_USERNAME: "db-apd-user-name"
    NODE_SUBSCRIPTION_KEY: "gpd-p-node-subscription-key"
    SEND_SUBSCRIPTION_KEY: "gpd-p-send-subscription-key"
    GPD_ARCHIVE_SA_CONNECTION_STRING: "gpd-archive-p-sa-connection-string"
    OTEL_EXPORTER_OTLP_HEADERS: elastic-apm-secret-token
  keyvault:
    name: "pagopa-p-gps-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - user
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/instance: gpd-core
            namespaces: ["gps"]
            topologyKey: topology.kubernetes.io/zone
  canaryDelivery:
    create: false
    ingress:
      type: header
      headerName: X-Canary
      headerValue: canary
      weightPercent: 0
    image:
      repository: ghcr.io/pagopa/pagopa-debt-position
      tag: "1.1.6"
      pullPolicy: Always
    envConfig: {}
    envSecret: {}
